/**
    DEFINE
    All variables needed for main styles.
    Note: Try always to use this variables when adding styles.
*/
$dark_blue: #3F5573;
$light_blue: #A4B3BF;
$dark_blue_strong: #284259;
$light_blue_strong: #8695A7;
$white: #F2F2F2;
$title_font: "'Bree Serif', serif";
$content_font: "'Open Sans', sans-serif";
