<footer>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="footerBox" align="center">
                <p>&copy; 2018 - Soluciones 3DC</p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</footer>

