<h2>Servicios</h2>
<hr />
<h5>Probando Vuejs</h5>
<br />
<div id="app">
    {{ message }}
</div>
<br />
<h5>Probando Animejs</h5>
<br />
<div id="boxes">
    <div class="box red"></div>
    <div class="box yellow"></div>
    <div class="box green"></div>
</div>