<h2>Servicios</h2>
<hr />
<h5>Probando Vuejs</h5>
<br />
<div id="app">
    {{ message }}
</div>
<br />
<div class="titleBox"><h5>Probando SVG with Animejs</h5></div>
<br />
<div id="boxes">
    <div class="box red"></div>
    <div class="box yellow"></div>
    <div class="box green"></div>
</div>
<br />
<div id="pathAnim">
    <div class="smallSquare el"></div>
    <svg width="350" height="170" style="border:solid 4px black;" xmlns="http://www.w3.org/2000/svg" class="svg-1">
        <path d="
          M 125,75
          C 125,175
            225,175
            225,75
          Z
          " stroke="black" fill="transparent" />
    </svg>
</div>
<hr />