<div class="jumbotron jumbotron-fluid aboutUs-background">
    <div class="container" align="center">
        <h1 class="display-4 services-title">The team</h1>
        <p class="lead services-description">Prepared to offer solutions with high quality and in the shortest possible time.</p>
    </div>
</div>
<div class="spaceBetweenLittle"></div>
<div class="container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top rounded-circle" src=".." alt="Daniel Peña">
            <div class="card-body">
                <h5 class="card-title">Daniel Peña</h5>
                <p class="card-text">Software engineering student at INTEC. Full-Stack web developer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top rounded-circle" src="http://www.5dariyanews.com/images/no-profile-image.gif" alt="Dionis Vargas">
            <div class="card-body">
                <h5 class="card-title">Dionis Vargas</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top rounded-circle" src="http://www.5dariyanews.com/images/no-profile-image.gif" alt="Daniel Chaddy">
            <div class="card-body">
                <h5 class="card-title">Daniel Chaddy</h5>
                <p class="card-text">Software engineering student at INTEC. Full-Stack web developer.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top rounded-circle" src="http://www.5dariyanews.com/images/no-profile-image.gif" alt="Carlos Kibel">
            <div class="card-body">
                <h5 class="card-title">Carlos Kibel</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div>
       