<div class="main-footer">
    <div class="row">
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4">

        </div>
    </div>
    <div class="footer-bottom"><small>&copy; Copyright 2018, 3DC Solutions</small></div>
</div>


