
@section Scripts{ 

}

<div class="container">
    <div class="col-lg-12">
        <div id="mainFooter" class="main-footer">
            <!--Footer Links-->
            <div id="bodyFooter" class="container text-center text-md-left ">
                <div class="row my-4">

                    <!--First column-->
                    <div id="firstColumn" class="col-xs-3 col-md-4">
                        <div id="child">
                            <h5 class="text-uppercase mb-4 font-weight-bold">IIIDC SOLUTIONS</h5>
                            <p>LOGO IIIDC SOLUTIONS</p>
                        </div>
                    </div>
                    <!--/.First column-->
                    <hr class="clearfix w-100 d-md-none">
                    <!--Second column-->
                    <div id="secondColumn" class="col-xs-3 col-md-4 ">
                        <div id="child">
                            <h5 class="text-uppercase mb-4 font-weight-bold">Contact Us</h5>
                            <!--Info-->
                            <p>
                                <i class="fa fa-home mr-3"></i> RD
                            </p>
                            <p>
                                <i class="fa fa-envelope mr-3"></i> soluciones3dc@outlook.com
                            </p>
                            <p>
                                <i class="fa fa-phone mr-3"></i> +1-829-***-****
                            </p>
                        </div>
                    </div>

                    <hr class="clearfix w-100 d-md-none">

                    <!--Third column-->
                    <div id="thirdColumn" class="col-xs-3 col-md-4 text-center">
                        <div id="child">
                            <h5 class="from-control-plaintex mb-4 text-uppercase pull-left font-weight-bold">Follow Us</h5>
                            <!--Social buttons-->
                            <div class="mt-2">
                                <div id="socialmedias">
                                    <!--Facebook-->
                                    <a href="#"><img src="~/images/004-boton-del-logo-de-facebook.png" href="" width="30" /></a>
                                    <!--Twitter-->
                                    <a href="#"><img type="image" src="~/images/003-boton-de-logo-del-twitter.png" width="30"></a>
                                    <!--Instagram-->
                                    <a href="#"><img type="image" src="~/images/002-logo-de-instagram.png" width="30"></a>
                                    <!--Whatsapp-->
                                    <a href="#"><img type="image" src="~/images/001-medios-de-comunicacion-social.png" width="30"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Third column-->

                </div>
            </div>
            <!--Copyright-->
            <div id="copyright" class="footer-copyright py-3 text-center">
                <p>© 2018 Copyright IIIDCSolutions</p>
            </div>
            <!--/.Copyright-->

        </div>
    </div>
</div>


