<div class="main-footer">
    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row my-4">

            <!--First column-->
            <div class="col-xs-3 col-md-5">
                <h5 class="text-uppercase mb-4 font-weight-bold">IIIDC SOLUTIONS</h5>
                <p>LOGO IIIDC SOLUTIONS</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-xs-6 col-md-4">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contact Us</h5>
                <!--Info-->
                <p>
                    <i class="fa fa-home mr-3"></i> RD
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> soluciones3dc@outlook.com
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> +1-829-***-****
                </p>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-xs-3 col-md-3 text-center">
                <h5 class="text-uppercase mb-4 font-weight-bold">Follow Us</h5>
                <!--Social buttons-->
                <div class="mt-2">
                    <form>
                        <!--Facebook-->
                        <input type="image" src="~/images/004-boton-del-logo-de-facebook.png" width="30">
                        <!--Twitter-->
                        <input type="image" src="~/images/003-boton-de-logo-del-twitter.png" width="30">
                        <!--Instagram-->
                        <input type="image" src="~/images/002-logo-de-instagram.png" width="30">
                        <!--Whatsapp-->
                        <input type="image" src="~/images/001-medios-de-comunicacion-social.png" width="30">
                    </form>
                </div>
            </div>
            <!--/.Third column-->

        </div>
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <p>© 2018 Copyright IIIDCSolutions</p>
    </div>
    <!--/.Copyright-->

</div>


