<div class="services-section">
    <div class="jumbotron jumbotron-fluid">
        <div class="container" align="center">
            <h1 class="display-4 services-title">What we offer you</h1>
            <p class="lead services-description">Our development team is focused on creating optimal, modern web solutions that solve a problem in your company or business.</p>
        </div>
    </div>
    <div class="spaceBetweenLittle"></div>
    <div class="container">
        <div class="services">
            <div class="row">
                <div class="col-md-6">
                    <div class="service-1">
                        <div class="image"></div>
                        <div class="caption">
                            <h4>PROFESSIONAL WEBSITES</h4>
                            <p>Do it right and get them all know your business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-2">
                        <div class="image"></div>
                        <div class="caption">
                            <h4>WEB APPLICATIONS</h4>
                            <p>Modern web applications accessible from any platform. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spaceBetweenLittle"></div>
</div>
