@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    
}

<div class="spaceBetweenMedium"></div>

<div class="content">
    <div class="boxTitle">
        <h3><i>Página de inicio</i></h3>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">
        
    </script>
}