/**
    ESTILOS PARA LAS PAGINAS PRINCIPALES.
    **** AGREGAR CADA ESTILO DEBAJO DEL COMENTARIO (PAGINA) CORRESPONDIENTE *****
*/

/**  COLOR GUIDE  */
/*
    Gray: #f3f3f3

*/

/** GENERAL **/
.spaceBetweenLittle{
    height:12px;
}
.spaceBetweenMedium {
    height: 23px;
}
.spaceBetweenBig {
    height: 40px;
}

/* Main Menu */
.topMenu{
    width:100%;
    height:auto;
    padding:0.3em;
    font-size:0.75rem;
    background-color:#0d2346 !important;
    padding-top:0.4em;
    padding-bottom:0.4em;
}
    .topMenu span{
        color:#c6c6c6;
    }
    .topMenu b {
        color: #868686;
    }
    .topMenu div {
        padding-left:1em;
    }


/* SLIDESHOW */
svg {
    display: block;
}

polygon {
    fill: #41B883;
}

circle {
    fill: transparent;
    stroke: #35495E;
}

input[type="range"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

/* HOME/INDEX */



/**FOOTER*/
.footerBox {
    background-color: #f3f3f3;
    color:black;
}