
/**
    ESTILOS PARA LAS PAGINAS PRINCIPALES.
    **** AGREGAR CADA ESTILO DEBAJO DEL COMENTARIO (PAGINA) CORRESPONDIENTE *****
*/

/* Main Menu */
@import url("Styles/mainMenu.css");
/**FOOTER*/
@import url("Styles/footer.css");
/**SERVICES*/
@import url("Styles/services.css");

/**  COLOR GUIDE  */
/*

*/


/** GENERAL **/
.spaceBetweenLittle{
    height:12px;
}
.spaceBetweenMedium {
    height: 23px;
}
.spaceBetweenBig {
    height: 40px;
}


