@model ContactViewModel


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container">
    <div class="col-12">
        <div class="jumbotron" style="margin-top:10px">
            <h1 class="display-4">CONTACT US!</h1>
            <small class="lead">Feel free to send us a message, we are going to contact you back</small>
        </div>
    </div>
    <div class="col-8" style="margin-top:20px">
        <div class="card bg-light">
            <div class="col-12 animated fadeInLeft" style="margin-top:15px">
                <form method="post" asp-controller="Home" asp-action="Contact">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="alert alert-heading alert-danger" asp-validation-summary="ModelOnly"></div>
                            @if (ViewBag.UserMessage != null)
                            {
                                <div class="alert alert-success">
                                    <p>@ViewBag.UserMessage</p>
                                </div>
                            }
                            <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='Name'" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input asp-for="Subject" type="text" class="form-control" id="subject"
                                   placeholder="Subject" onfocus="this.placeholder=''" onblur="this.placeholder='Subject'" />
                            <span class="text-danger" asp-validation-for="Subject"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <input asp-for="Email" type="text" class="form-control" id="email" placeholder="example@gmail.com"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='example@gmail.com'" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input asp-for="Telephone" type="text" class="form-control" id="telephone" placeholder="555-555-5555"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='555-555-5555'" />
                            <span class="text-danger" asp-validation-for="Telephone"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea asp-for="Content" type="text" class="form-control" id="content"
                                      placeholder="Write your message here" onfocus="this.placeholder =''"
                                      onblur="this.placeholder='Write your message here'"></textarea>
                            <span class="text-danger" asp-validation-for="Content"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button id="submit" class="btn" type="submit">SEND</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
